.nav_list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 30px 100px 100px;
    font-size: 20px;
    background-color: gainsboro;
    list-style-type: none;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.name {
    line-height: 10px;
    margin: 100px   -300px 200px;
}
.about_me {
    line-height: 1px;
    margin: 50px 0px;
    font-size: 14px;
    text-align: left;
}
.me_skills {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.skills {
    margin: 50px 100px;
}


.inf {
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
}